<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/head.ejs')%>
    <title>Decode Blog</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
        <form class="login-container" action="/api/signIn" method="POST">
            <h2>Вход</h2>
            <input type="text" placeholder="Введите email" name="email">
            <input type="password" placeholder="Введите пароль" name="password">
            <button>Войти</button>
            <p>Еще нет аккаунта? <a href="/registration">Зарегистрируйтесь</a></p>
            <p>Войти с помощью: </p>
            <a class="google" href="/api/auth/google">Google</a>
            <a class="github" href="/api/auth/github">GitHub</a>
        </form>
</body>
</html>